.wrapper{
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    gap: 8px;
    &::after{
        display: block;
    content: "";
    height: 12px;
    width: 1px;
    background-color: rgb(235, 235, 240);
    }
    &:last-of-type::after {
        display: block;
        content: "";
        width: 0px;
        height: 0px;
    }

}
.title{
    display: flex;
    gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: rgb(39, 39, 42);
}
.normal{
    color: rgb(128, 128, 137);
    font-weight: 400;
    &:hover{
        background-color: rgba(39, 39, 42, 0.12);
    }

}
.info{
    color: rgb(10, 104, 255);
    font-weight: 600;
    &:hover{
        background-color: rgba(0, 96, 255, 0.12);
    }
    &:active{
    color: rgb(10, 104, 255);
    font-weight: 500;
    line-height: 150%;
    background-color: rgba(0, 96, 255, 0.24);
    }
}
.icon-img{
    width: 24px;
    height: 24px;
}
.imageIconRight{
    color: rgb(10, 104, 255);
}